name: Run all reusable workflows

on:
  workflow_call:

jobs:
  test-eslint:
    name: ESLint Workflow
    uses: './.github/workflows/test-eslint.yml'

  test-prettier:
    name: Prettier Workflow
    uses: './.github/workflows/test-prettier.yml'

  build-pnpm:
    name: Build Workflow
    uses: './.github/workflows/build-pnpm.yml'

  test-download-artifact:
    name: Download artifact
    runs-on: ubuntu-latest
    needs: build-pnpm
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
