name: Prettier

on:
  workflow_call:
    inputs:
      command:
        description: The command used to run Prettier. Defaults to `npm run prettier:check`.
        type: string
        default: npm run prettier:check

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup-node-pnpm
        
      - name: Prettier
        run: ${{ inputs.command }}
