name: Prettier

on:
  workflow_call:
    inputs:
      command:
        description: The command used to run Prettier. Defaults to `npm run prettier:check`.
        type: string
        default: npm run prettier:check

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ExampleWasTakenStudios/workflows/.github/actions/setup-node-pnpm@master

      - name: Prettier
        run: ${{ inputs.command }}
