name: ESLint

on:
  workflow_call:
    inputs:
      command:
        description: The command used to run ESLint. Defaults to `npm run lint`.
        type: string
        default: npm run lint

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup-node-pnpm

      - name: ESLint
        run: ${{ inputs.command }}
